
     body{

         overflow: hidden;
         background-image: url("back64.png");
         height: 100%;
         width: 100%;
         Center :and scale the image nicely ;
         /*background-position: center;*/
         background-repeat: no-repeat;
         background-size: cover;

    }

     .line{
         width: 203%;
         background-image: linear-gradient(45deg, #377DFF, transparent);
         padding: 1px;
         margin-top: 51px;

     }

     .logo{
         position: absolute;
         margin: 28px;
         margin-left: 38px;

     }

     .logo-m{
         margin: -168px 0px 0px -14px;
         width: 53px;
     }

     .logo-maze{
         margin-top: -166px;
         margin-left: 20px;
         width: 95px;
     }

     .create{
        margin-left: 12%;
        padding: 9%;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
        letter-spacing: -0.02em;
        position: absolute;
        width: 1134px;
      height: 609px;
    left: 151px;
    top: 215px;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
        border-radius: 16px;

    

    }
    .detaile{
        margin-top: -144px;
        margin-left: 9%;
        position: absolute;
        filter:  brightness(0) invert(1)
    
    
    }
    .mid{
        /* line-height: 186%; */
        /* position: absolute;
        left: 24%;
        /*right: 16%;*/
        /*top: 15.33%; *!*/
    }
    
    
    .Create{
        width: 167px;
        margin-top: 44px;
        height: 48px;
        left: 753px;
        top: 481px;
        background: #007AFF;
        border-radius: 5px;
        margin-left: -256px;
    }
    
    .search-input{
        width: 38%;
        height: 1%;
    }
    
    .one{
        /* margin: 48px 0px;
        display: flex; */
        gap: 87px;
        position: absolute;
        margin: -57px 107px;
        display: flex;
        margin-top: -31px;
    }
    .First{
        position: fixed;
        margin-top: -22px;
        filter:  brightness(0) invert(1)
    }
    .Last{
        margin: 375px;
        position: fixed;
        margin-top: -22px;
        filter:  brightness(0) invert(1)
    
    }
    .two{

        display: flex;
        gap: 87px;
        position: absolute;
        margin: -91px 109px;
        /* display: flex; */
       
        margin-top: 51px;
    
    }
    .Email{ 
         position: fixed;
        margin-top: -22px;
        filter:  brightness(0) invert(1)
    }
    .Phone{
        margin: 375px;
        position: fixed;
        margin-top: -22px;
    
        filter:  brightness(0) invert(1)
    
    }
    
    
    .three{
        /* margin: 48px 0px;
        display: flex; */
        gap: 87px;
        position: absolute;
        margin: -147px 110px;
        display: flex;
        margin-top: 149px;
    }
    .password{
        position: fixed;
        margin-top: -22px;
        filter:  brightness(0) invert(1)
    }
    .Confirm{

        margin: 375px;
        position: fixed;
        margin-top: -22px;
    
        filter:  brightness(0) invert(1)
    
    }
    .form-check{
        margin-top: -101px;
        padding-left: 16%;
        font-size: 61%;
    }

    .form-check-label{
        font-size:80%;
        filter:  brightness(0) invert(1)
        
    }
     .form-check-input{
         border-color: white;
         background: none;

     }

     .form-check-input[type=checkbox] {
         border-radius:0px;
         margin-top: 12px;
         font-size: 16px;
     }

    /*.user{*/
    /*    padding: 26%;*/
    /*    margin: 0%;*/
    /*    padding-left: 32%;*/
    /*    position: absolute;*/
    /*    padding-top: 0%;*/
    /*    */
    /*}*/
    .new_account{
        margin-top: -52px;
        padding-left: 102px
    }

    /*.new_account a {*/
    /*    position: absolute;*/
    /*    padding: 295px 366px*/

    /*}*/

    .field{
        color: white;
        font-size: 28px;
    }
    .field label{
        font-size: 15px;
    }
    .field em{
        font-size: 16px;
    }
    .hp{
        gap: 85px;
        display: flex;
    }

    .actions input{
        margin-top: 69px;
        width: 206px;
        background: #377DFF;
        border-radius: 5px;
        color: aliceblue;
        font-size: 21px;
    }

     .user{
         margin-top: -27px;
         padding-left: 791px;
         font-size: 22px;
    }

.new_account div{
    color: white;
}